html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: linear-gradient(180deg,
            #eb6f5c, #fa884e, #ffa540, #fdc535, #f0e538);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 10% auto 10%;
    height: 100vh;
    margin: 0;

}

.main_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 2/2;


}

.title {
    font-size: 4rem;
    padding-bottom: 3rem;
}


.title_game{
    Font-size: 2rem;
    text-align: center;
    font-style: italic;
}
.title_ender
{
    height: 30vh;
    Font-size: 4rem;
    text-align: center;
    font-style: italic;


}

.bot_choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 5vw;
    width: 25vw;
    


}

.robotImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.images {
    border-radius: 50%;
    border: 1px solid #000;
    width: 5rem; 

}
.images_game{
    width: 25vw; 
}


.difficulty {
    font-size: 0.75rem;
    color: black;
    text-transform: uppercase;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    text-justify: distribute;

}

.player_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 200px;
    height: 30px;
    padding-left: 1em;
    margin: 3rem 0 2rem 0;
    font-size: 1rem;
}

.startGame {
    background-color: pink;
    width: 100px;
    border-radius: 5%;
    border: 0px solid #000;

}
.startGame:hover{
    background-color:springgreen;
    border: none;
}
.startAgain {
    background-color: pink;
    width: 150px;
    border-radius: 5%;
    border: 0px solid #000;
    margin-top: 3rem;
    

}
.robotClues{
    font-size: 2em;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
.robotEndMessage{
    margin-top: 3rem;
    font-size: 6em;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

a{
    text-decoration: none;
}
H3{
    font-style: italic;
}
@media only screen and (max-width: 500px) {
    .title {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .rules {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        text-justify: distribute;
    
    }
    .images_game{
        width: 50vw; 
    }
    .robotClues{
        font-size: 1.5em;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
    }
    .robotEndMessage{
        font-size: 1.5em;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
    }
    .title_ender{
        font-size: 1.5em;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
    
    
    }
    
  }
